@model IEnumerable<BlagaUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student body statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Dates
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(_ => item.StudentCount)
            </td>
        </tr>
    }
</table>